/*Here goes your css code*/

body{

    /*background: linear-gradient(-45deg, #788cff, #639278);*/
    background-color: white;
}

.imagen-principal{
    
    text-align: center;
}

.texto h1{
 
    font-weight: bold;
    text-align: center; 
    font-family: 'Red Hat Display', sans-serif;
    color: black;
}

.parrafo{
    
    text-align: center;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    
}

.button{    
    text-align: center;    
}

#botonmorado{
   
    background-color: darkblue;
    color: white;
    padding: 16px 100px;
    border-radius: 20px;
      
}

#buttoncancel{
   
    background-color: white;
    color:black;
    padding: 16px 100px;
    border-radius: 20px;
    border:none
      
}

.botonytexto{
    display: flex;
    align-items: center;
    justify-content: center;
  }


.botonytexto a{

    color: purple;
}

